{{#section 'head'}}
    <meta name="robots" content="noindex">
{{/section}}
<h1>Test page</h1>
<p>Testing something acording with Jquery</p>
{{#section 'jqury'}}
    <script>
        $('document').ready(()=>{
            $('h1').html('jQuery works');
        });
    </script>
{{/section}}